<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- 控制台输出 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- 文件输出 -->
        <File name="File" fileName="logs/app.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <!-- 根日志级别，所有日志的默认配置（未明确匹配的日志都遵循此规则） -->
        <Root level="warn">
            <AppenderRef ref="Console"/>
<!--            <AppenderRef ref="File"/>-->
        </Root>

        <!-- 自定义包/类的日志级别，为特定软件包配置独立规则 -->
        <!--additivity=False 禁用继承，日志不会传递给根日志器-->
        <Logger name="nju.jgd.wc" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>